docs/n8n-diagnostico-organico.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Diagnostico-organico",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-1200, 2000],
      "id": "23917a61-6d91-4c60-883e-ab48ea6447c9",
      "name": "Webhook",
      "webhookId": "709bea99-4f21-43a3-91b1-6d858878b46b",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.body ?? $json;\nlet data = raw;\n\nif (typeof data === 'string') {\n  try { data = JSON.parse(data); } catch { data = {}; }\n}\nif (typeof data !== 'object' || data === null || Array.isArray(data)) {\n  data = {};\n}\n\nconst pick = (obj, keys, fallback = '') => {\n  for (const key of keys) {\n    const val = obj[key];\n    if (val !== undefined && val !== null && String(val).trim() !== '') {\n      return typeof val === 'string' ? val.trim() : String(val);\n    }\n  }\n  return fallback;\n};\n\n// 'nome' vem sem espaço agora — prioridade sobre 'Nome completo'\nconst nome      = pick(data, ['nome', 'Nome completo', 'name']);\nconst email     = pick(data, ['email', 'E-mail', 'Email']);\nconst whatsapp  = pick(data, ['whatsapp', 'WhatsApp', 'Whatsapp']);\nconst confirmar = pick(data, ['whatsapp_confirmacao', 'Confirmar WhatsApp', 'confirmar_whatsapp', 'Confirmar whatsapp']);\n\n// investimento vem legível do formulário ('Até R$5.000/mês')\nconst investimento = pick(data, [\n  'investimento_mensal',\n  'Quanto você investe em publicidade nos marketplaces hoje?',\n  'investimento', 'invest'\n]);\n\n// canais vem como string legível do formulário ('Shopee, Amazon')\nconst canaisRaw = data['canais_marketplace'] || data['Em quais canais'] || data.canais || '';\nconst canais = Array.isArray(canaisRaw) ? canaisRaw.join(', ') : String(canaisRaw || '');\n\n// Pergunta adicional: usa campo pronto do formulário; se não vier, monta aqui\nconst perguntaAdicional = data['pergunta_adicional'] || data['Pergunta adicional'] || [\n  investimento ? `Investimento: ${investimento}` : '',\n  canais       ? `Canais: ${canais}` : ''\n].filter(Boolean).join(' | ');\n\nconst now = new Date();\nconst pad = n => String(n).padStart(2, '0');\nconst dateBR = `${pad(now.getDate())}/${pad(now.getMonth() + 1)}/${now.getFullYear()}`;\nconst hora   = `${pad(now.getHours())}:${pad(now.getMinutes())}`;\n\nconst channel  = pick(data, ['channel', 'canal'], 'direto');\nconst source   = pick(data, ['source', 'utm_source', 'origem'], 'direto');\nconst medium   = pick(data, ['medium', 'utm_medium'], 'none');\nconst campaign = pick(data, ['campaign', 'utm_campaign'], 'none');\nconst content  = pick(data, ['utm_content', 'content'], 'none');\nconst referrer = pick(data, ['referrer', 'ref'], '');\nconst pageUrl  = pick(data, ['page_url', 'url'], '');\nconst timestamp = pick(data, ['timestamp', 'ts'], new Date().toISOString());\nconst finalChannel = channel === 'direto' && source !== 'direto' ? source : channel;\n\nreturn [{ json: {\n  'Data de entrada de leads': pick(data, ['Data de entrada de leads', 'Data'], dateBR),\n  'Hora':               pick(data, ['Hora'], hora),\n  'Nome completo':      nome,\n  'E-mail':             email,\n  'WhatsApp':           whatsapp,\n  'Confirmar WhatsApp': confirmar,\n  'Investimento em Ads': investimento,\n  'Canais':             canais,\n  'Pergunta adicional': perguntaAdicional,\n  'Funil':              'diagnostico-organico',\n  'Channel':            finalChannel,\n  'Source':             source,\n  'Medium':             medium,\n  'Campaign':           campaign,\n  'Content':            content,\n  'Referrer':           referrer,\n  'Page URL':           pageUrl,\n  'Timestamp':          timestamp\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-960, 2000],
      "id": "bdb28ead-a75d-46fc-8d7b-5c2cd407e30e",
      "name": "Parse Body3",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1FdV_XZNwPtaEGqyUqErTJ4LJUwlgOn3tul_doV3WKZA/edit?gid=2112926828#gid=2112926828",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 2112926828,
          "mode": "list",
          "cachedResultName": "Organico",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FdV_XZNwPtaEGqyUqErTJ4LJUwlgOn3tul_doV3WKZA/edit#gid=2112926828"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nome completo":        "={{ $json['Nome completo'] }}",
            "Funil":                "={{ $json.Funil }}",
            "Entrada leads":        "={{ $json['Data de entrada de leads'] }}",
            "Qual seu e-mail?":     "={{ $json['E-mail'] }}",
            "Qual o seu WhatsApp?": "={{ $json.WhatsApp }}",
            "Confirme seu WhatsApp":"={{ $json['Confirmar WhatsApp'] }}",
            "Pergunta adicional":   "={{ $json['Pergunta adicional'] }}",
            "channel":              "={{ $json.Channel }}",
            "utm_source":           "={{ $json.Source }}",
            "utm_medium":           "={{ $json.Medium }}",
            "utm_campaign":         "={{ $json.Campaign }}",
            "utm_content":          "={{ $json.Content }}",
            "timestamp":            "={{ $json.Timestamp }}",
            "Page URL ":            "={{ $json['Page URL'] }}",
            "Referrer":             "={{ $json.Referrer }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "Entrada leads",        "displayName": "Entrada leads",        "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "Nome completo",        "displayName": "Nome completo",        "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Qual seu e-mail?",     "displayName": "Qual seu e-mail?",     "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "Qual o seu WhatsApp?", "displayName": "Qual o seu WhatsApp?", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "Confirme seu WhatsApp","displayName": "Confirme seu WhatsApp","required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "Funil",               "displayName": "Funil",               "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Pergunta adicional",  "displayName": "Pergunta adicional",  "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "channel",             "displayName": "channel",             "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "utm_source",          "displayName": "utm_source",          "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "utm_medium",          "displayName": "utm_medium",          "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "utm_campaign",        "displayName": "utm_campaign",        "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "Page URL ",           "displayName": "Page URL ",           "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "Referrer",            "displayName": "Referrer",            "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "utm_content",         "displayName": "utm_content",         "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "timestamp",           "displayName": "timestamp",           "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-656, 1728],
      "id": "63703be7-b95c-4e6d-b011-07fa8de57953",
      "name": "Sheet: Organico",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "jFHr4eg26MHLFHHa", "name": "Cockpit" }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1FdV_XZNwPtaEGqyUqErTJ4LJUwlgOn3tul_doV3WKZA/edit?gid=2112926828#gid=2112926828",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": 171163622,
          "mode": "list",
          "cachedResultName": "Banco de Dados",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FdV_XZNwPtaEGqyUqErTJ4LJUwlgOn3tul_doV3WKZA/edit#gid=171163622"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data de entrada de leads": "={{ $json['Data de entrada de leads'] }}",
            "Hora":               "={{ $json.Hora }}",
            "Nome completo":      "={{ $json['Nome completo'] }}",
            "E-mail":             "={{ $json['E-mail'] }}",
            "WhatsApp":           "={{ $json.WhatsApp }}",
            "Confirmar WhatsApp": "={{ $json['Confirmar WhatsApp'] }}",
            "Investimento em Ads": "={{ $json['Investimento em Ads'] }}",
            "Canais":             "={{ $json.Canais }}",
            "Funil":              "={{ $json.Funil }}",
            "Channel":            "={{ $json.Channel }}",
            "Source":             "={{ $json.Source }}",
            "Medium":             "={{ $json.Medium }}",
            "Campaign":           "={{ $json.Campaign }}",
            "Content":            "={{ $json.Content }}",
            "Referrer":           "={{ $json.Referrer }}",
            "Page URL":           "={{ $json['Page URL'] }}",
            "Timestamp":          "={{ $json.Timestamp }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "Data de entrada de leads", "displayName": "Data de entrada de leads", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Hora",               "displayName": "Hora",               "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Nome completo",      "displayName": "Nome completo",      "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "E-mail",             "displayName": "E-mail",             "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "WhatsApp",           "displayName": "WhatsApp",           "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Confirmar WhatsApp", "displayName": "Confirmar WhatsApp", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Investimento em Ads","displayName": "Investimento em Ads","required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Canais",             "displayName": "Canais",             "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Funil",              "displayName": "Funil",              "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Channel",            "displayName": "Channel",            "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Source",             "displayName": "Source",             "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Medium",             "displayName": "Medium",             "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Campaign",           "displayName": "Campaign",           "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Content",            "displayName": "Content",            "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Referrer",           "displayName": "Referrer",           "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Page URL",           "displayName": "Page URL",           "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Timestamp",          "displayName": "Timestamp",          "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-656, 1968],
      "id": "352ae101-6898-476b-8931-056c0f8a4318",
      "name": "Sheet: Banco de Dados",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "jFHr4eg26MHLFHHa", "name": "Cockpit" }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/17uXnW7B3OoyGRgnJUtlV59S_JvaxyZe7A9R8PAJ900E/edit?gid=1870936114#gid=1870936114",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1870936114,
          "mode": "list",
          "cachedResultName": "CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17uXnW7B3OoyGRgnJUtlV59S_JvaxyZe7A9R8PAJ900E/edit#gid=1870936114"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data de entrada de leads": "={{ $json['Data de entrada de leads'] }}",
            "Hora":               "={{ $json.Hora }}",
            "Nomes":              "={{ $json['Nome completo'] }}",
            "Email":              "={{ $json['E-mail'] }}",
            "Telefone 1":         "={{ $json.WhatsApp }}",
            "Telefone 2":         "={{ $json['Confirmar WhatsApp'] }}",
            "Pergunta adicional": "={{ $json['Pergunta adicional'] }}",
            "Funil":              "={{ $json.Funil }}",
            "campaign_id":        "={{ $json.Campaign }}",
            "utm_source":         "={{ $json.Source }}",
            "utm_medium":         "={{ $json.Medium }}",
            "utm_campaign":       "={{ $json.Campaign }}",
            "utm_content":        "={{ $json.Content }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "Data de entrada de leads", "displayName": "Data de entrada de leads", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Hora",               "displayName": "Hora",               "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Nomes",              "displayName": "Nomes",              "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "Email",              "displayName": "Email",              "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "Telefone 1",         "displayName": "Telefone 1",         "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "Telefone 2",         "displayName": "Telefone 2",         "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "Pergunta adicional", "displayName": "Pergunta adicional", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Funil",              "displayName": "Funil",              "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "utm_source",         "displayName": "utm_source",         "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "utm_medium",         "displayName": "utm_medium",         "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "utm_campaign",       "displayName": "utm_campaign",       "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "utm_content",        "displayName": "utm_content",        "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "campaign_id",        "displayName": "campaign_id",        "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "Hora",               "displayName": "Hora",               "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-640, 2208],
      "id": "ae025d0a-2ac8-4f76-8cda-7aa9d02f3f24",
      "name": "Sheet: CRM Geral",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "jFHr4eg26MHLFHHa", "name": "Cockpit" }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Parse Body3", "type": "main", "index": 0 }]]
    },
    "Parse Body3": {
      "main": [[
        { "node": "Sheet: Banco de Dados", "type": "main", "index": 0 },
        { "node": "Sheet: Organico",       "type": "main", "index": 0 },
        { "node": "Sheet: CRM Geral",      "type": "main", "index": 0 }
      ]]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a2041f8092fce2115726eddb1e426926a5611d3381df73a6f0a4d6fdebec6e0b"
  }
}
