docs/n8n-workflow-diagnostico-organico.json
{"name":"LP-diagnostico","nodes":[{"parameters":{"httpMethod":"POST","path":"Diagnostico-organico","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-300,400],"id":"c3000001-0003-0003-0001-000000000003","name":"Webhook LP-diagnostico","webhookId":"c3000001-0003-0003-0099-000000000003","alwaysOutputData":true},{"parameters":{"jsCode":"const raw = $json.body ?? $json;\nlet data = raw;\nif (typeof data === 'string') {\n  try { data = JSON.parse(data); } catch (e) { data = {}; }\n}\nif (typeof data !== 'object' || data === null || Array.isArray(data)) { data = {}; }\n\nconst pick = (obj, keys, fallback) => {\n  fallback = fallback === undefined ? '' : fallback;\n  for (const key of keys) {\n    const val = obj[key];\n    if (val !== undefined && val !== null && String(val).trim() !== '') {\n      return typeof val === 'string' ? val.trim() : String(val);\n    }\n  }\n  return fallback;\n};\n\nconst dateBR = new Date().toLocaleDateString('pt-BR', { timeZone: 'America/Sao_Paulo' });\n\nconst nome     = pick(data, ['nome', 'Nome completo'], '');\nconst email    = pick(data, ['email', 'E-mail'], '');\nconst wpp      = pick(data, ['whatsapp', 'WhatsApp'], '');\nconst wpp2     = pick(data, ['whatsapp_confirmacao', 'Confirmar WhatsApp'], '');\nconst pergAdic = pick(data, ['pergunta_adicional', 'Pergunta adicional', 'Pergunta Adicional'], '');\n\nconst channel  = pick(data, ['channel', 'canal'], 'direto');\nconst source   = pick(data, ['source', 'utm_source'], 'direto');\nconst medium   = pick(data, ['medium', 'utm_medium'], 'none');\nconst campaign = pick(data, ['campaign', 'utm_campaign'], 'none');\nconst content  = pick(data, ['utm_content', 'content'], 'none');\nconst referrer = pick(data, ['referrer'], '');\nconst pageUrl  = pick(data, ['page_url'], '');\nconst timestamp = pick(data, ['timestamp'], new Date().toISOString());\nconst mql       = pick(data, ['mql'], '');\n\nreturn [{\n  json: {\n    'Entrada leads':            dateBR,\n    'Data de entrada de leads': dateBR,\n    'Nome completo':            nome,\n    'E-mail':                   email,\n    'WhatsApp':                 (wpp  ? wpp.replace(/^\\+/,'') : ''),\n    'Confirmar WhatsApp':       (wpp2 ? wpp2.replace(/^\\+/,'') : ''),\n    'Pergunta Adicional':       pergAdic,\n    'Funil':                    'diagnostico-organico',\n    channel,\n    Channel:                    channel,\n    Source:                     source,\n    Medium:                     medium,\n    Campaign:                   campaign,\n    Content:                    content,\n    Referrer:                   referrer,\n    'Page URL':                 pageUrl,\n    Timestamp:                  timestamp,\n    'MQL':                      mql\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-80,400],"id":"c3000001-0003-0003-0002-000000000003","name":"Parse Body LP-diagnostico","alwaysOutputData":true},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1FdV_XZNwPtaEGqyUqErTJ4LJUwlgOn3tul_doV3WKZA/edit","mode":"url"},"sheetName":{"__rl":true,"value":2097178642,"mode":"list","cachedResultName":"organico","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FdV_XZNwPtaEGqyUqErTJ4LJUwlgOn3tul_doV3WKZA/edit#gid=2097178642"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[160,260],"id":"c3000001-0003-0003-0003-000000000003","name":"Google Sheets → organico (LP-diagnostico)","credentials":{"googleSheetsOAuth2Api":{"id":"jFHr4eg26MHLFHHa","name":"Cockpit"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1FdV_XZNwPtaEGqyUqErTJ4LJUwlgOn3tul_doV3WKZA/edit","mode":"url"},"sheetName":{"__rl":true,"value":411493318,"mode":"list","cachedResultName":"banco de dados","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FdV_XZNwPtaEGqyUqErTJ4LJUwlgOn3tul_doV3WKZA/edit#gid=411493318"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[160,540],"id":"c3000001-0003-0003-0004-000000000003","name":"Google Sheets → banco de dados (LP-diagnostico)","credentials":{"googleSheetsOAuth2Api":{"id":"jFHr4eg26MHLFHHa","name":"Cockpit"}}}],"connections":{"Webhook LP-diagnostico":{"main":[[{"node":"Parse Body LP-diagnostico","type":"main","index":0}]]},"Parse Body LP-diagnostico":{"main":[[{"node":"Google Sheets → organico (LP-diagnostico)","type":"main","index":0},{"node":"Google Sheets → banco de dados (LP-diagnostico)","type":"main","index":0}]]}},"pinData":{},"settings":{"executionOrder":"v1"},"meta":{"templateCredsSetupCompleted":true,"instanceId":"a2041f8092fce2115726eddb1e426926a5611d3381df73a6f0a4d6fdebec6e0b"}}